* {
    font-family: 'DejaVu Sans Mono', monospace 
}

img {
    border: 5px double black;
    height: auto;
    width: 400px;
}

.top-bar {
    background-color: #f1ffe8;
}

.return-button,
h1 {
    font-family: 'Marker Felt', fantasy;
}

.description {
    position: absolute;
    left:425px;
    top:87px;
}

hr {
    border-top: 2px solid #788074
}

ol,
ul {
    color: #444444;
}
